<html>
    <head>
        <title>Build your character</title>
    </head>
    <body>
        <link href="/character_builder.css" rel="stylesheet" type="text/css">
        <h1>Building better canon fodder ... I mean characters</h1>
        <form>
            <p>Name:<input class="charName" type="text" name="charName" /></p>
        <% for (var stat in adv) { %>
            <p class="stats">
                <label class="charStat"><%= stat %></label> | <input
                    class="charInput" type="text" name=<%= stat %>
                    value=<%= adv[stat] %>
                >
            </p>
        <% } %>
        <% if (weapons.length > 0){ %>
            Weapons:
            <% for (var weapon in weapons) { %>
                <p><%= weapons[weapon] %></p>
            <% } %>
        <% } else { %>
        <% } %>
        <button>Submit</button>
        </form>
    </body>
</html>