<html>
    <head>
        <title>Build your character</title>
    </head>
    <body>
        <h1>Building better canon fodder ... I mean characters</h1>
        <% for (var stat in adv) { %>
            <p><%= stat %>:<%= adv[stat] %></p>
        <% } %>
    </body>
</html>