<link href="/third.css" rel="stylesheet" type="text/css">

<div id="main">
<h2>Building deadlier dungeons</h2>
    <div id="chat">
        <div id="map">
            <p>This is where the map goes</p>
        </div>
        <div id="talk">
            <div id="list">
                <p>this is a list?</p>
            </div>
            <div id="chitchat">
                <p>Chatting goes here</p>
            </div>
        </div>
    </div>
    <div id="stats">
        <p>For the stats</p>
    </div>
    <div id="monster">
        <p>Evil monsters</p> 
    </div>
</div>