* {
    border: 1px solid red;
    padding: 0;
    margin: 0;
}

#main {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:    "chat chat chat stats monster"
}

#chat {
    grid-area: chat;
    border:2px solid blue;
    display: inline-block;
}

#map {
    height: 80%;
    border: 2px solid yellow;
}

#chitchat {
    border: 2px solid orange;
    height: 20%;
}

#list {
    height: 80%;
}

#talk {
    height: 20%;
    border: 2px solid green;
}

#stats {
    grid-area: stats;
    display: inline-block;
}

#monster {
    grid-area: monster;
    border: 2px solid black;
    display: inline-block;
}