* {
    border: 1px solid red;
    padding: 0;
    margin: 0;
}

#main, #talk {
    height: 100%;
    display: grid;
    grid-template-rows: 5em auto 15em;
    grid-template-areas:    
        ". . title . ."
        "chat chat chat stats monster"
        "chat chat chat stats monster"
}

#chat {
    grid-area: chat;
    border:2px solid blue;
    display: inline-block;
}

#map {
    border: 2px solid yellow;
}

#list {
    height: auto;
    grid-column: 1/4;
    grid-row: 1/4;
}

#chitchat {
    border: 2px solid orange;
    grid-column: 1/4;
    grid-row: 4;
}

#talk {
    grid-column: 1/6;
    grid-row: 3;
    border: 2px solid green;
    min-height: 100px;
}

#title {
    grid-area: title;
}

#stats {
    grid-area: stats;
    display: inline-block;
}

#monster {
    grid-area: monster;
    border: 2px solid black;
    display: inline-block;
}